* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: rgb(253,222,126);
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 95%;
    padding-bottom: 3em;
    padding-top: 3em;
    margin: 5em;
    flex-wrap: wrap;
}

.cont {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    width: 30%;
    padding-left: 10%;
    padding-right: 10%;
    align-content: space-around;
}

.cont [class] {
    flex-basis: 1.5em;
}

.cont [class]:first-child {
    margin-top: 1em;
}

.cont [class]:last-child {
    margin-bottom: 1em;
}

.cup {
    margin-bottom: 1em;
}

#bigblock [class] {
    flex-basis: 2em;
}

#bigblock [class]:first-child {
    margin-top: 1em;
}

#bigblock [class]:last-child {
    margin-bottom: 1.5em;
}

.price {
    color: rgb(2,153,91);
}

.typ {
    color: rgb(51,51,51);
}

p {
    color: rgb(51,51,51);
}