*{
    margin: 0px;
}
body {
    background-color: whitesmoke;
}

/* styles in header */
header{
    display: inline-block;
    height: 20%;
    display: inline-block;
}
form{
    margin-left: 12%;
    margin-top: 5%;
    display: inline-block;
    width: 40%;
}

input {
    width: 100%;
}

#lupa{
    margin-right: 100px;
    margin-top: 5%;
    display: inline-block;  
    width: 100px;
    height: 100px;
}
#search {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 80px;
    background-color: whitesmoke;
    border: none;
}

/* styles for blocks */
h2{
    margin-top: 5%;
    margin-bottom: 10px;
    margin-left: 12%;
    display: inline-block;
    width: 20%;
    color: #c2c2c2;
}
.left {
    width: 20%;
    height: 60px;
    background-color: #c2c2c2;
    margin-left: 12%;
    margin-bottom: 5px;
}

#smallimg {
    border-radius: 100px;;
    padding: 5px;
}

p {
    margin-left: 70px;
    margin-top: 20px;
    position: absolute;
    color: grey;
}

p:hover {
    color: red;
}