*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: whitesmoke;
}

.main {
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
}

/* styles in header */
header{
    display: inline-block;
    height: 20%;
}

form{
    /* margin-left: 12%; */
    margin-top: 5%;
    display: inline-block;
    width: 40%;
}

input {
    width: 100%;
}

#lupa{
    margin-right: 100px;
    margin-top: 5%;
    display: inline-block;  
    width: 100px;
    height: 100px;
}
#search {
    display: inline-block;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 80px;
    background-color: whitesmoke;
    border: none;
    color: #ec5a62;
    margin-left: 15%;
}

#search:active {
    border: none;
}

/* style for menu */

.column {
    width: 25%;
    margin-top: 5%;
    display: inline-block;
}

.row {
    /* display: inline-block; */
    height: 54px;
    background-color: rgba(118,117,128,0.05);
    margin-bottom: 3px;
}

.name {
    display: inline-block;
    position: relative;
    bottom: 40%;
    left: 5%;
    color: #c2c2c2;
}

.name:hover {
    color: #ec5a62;
}

.row:hover {
    background-color: rgba(118,117,128,0.1);
}

a {
    text-decoration: none;
}

img {
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 2px;
}

h2 {
    color: #c2c2c2;
}

.center {
    display: inline-block;
    width: 25%;
    margin-top: 5%;
    margin-left: 7%;
}

.column_2 {
    margin-top: 5%;
    width: 100%;
    display: inline-block;
}

input::placeholder {
    color: #c2c2c2;
}


