/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ba-width-1-2 {
    width: 600p;
}

.ba-width-1-3 {
    width: 400px;
}

.ba-width-1-4 {
    width: 300px;
}

.ba-width-1-6 {
    width: 200px;
}

.ba-grid {
    display: flex;
}
*/
* {
    display: inline-block;
    margin: 1px;
}

title {
    visibility: hidden;
}

#problem {
    display: flex;
}

#row_2 {
    float: left;
}

#manysq {
    display: flex;
    flex-direction: column;
}


 